/* Define your styles here */

h2 {
  font-size: x-large !important;
}

/*
.jmix-login-panel {
    border: none;
  }

  .jmix-login-caption {
    margin-top: -100px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .login-logo {
    margin-top: -320px;
  }

  .jmix-login-submit-button {
    margin-top: 20px;
  }

  .registryOut {
    color: #c2bebd;
  }

  .nighdue-statement {
    color: orange;
  }

  .overdue-statement {
    color: red;
  }

  .factend-statement {
    color: darkgray;
  }*/

